.sidebarThread {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(190, 190, 190, 0.1);
  color: white;
  cursor: pointer;
}

.sidebarThread:hover {
  background-color: rgb(2, 150, 190);
}

.sidebarThread__details {
  margin-left: 15px;
  position: relative;
  width: 100%;
}

.sidebarThread__timestamp {
  position: absolute;
  bottom: -15px;
  right: 0;
  color: lightgray;
  font-size: x-small;
}
